/* Nav bar styles */

#mainContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#mainContainer .logo img{
    border-radius: 0%;
    width: 70px;
    height: 40px;
}

#mainContainer .nav-items{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#mainContainer .nav-items a{
    color: #000;
    font-weight: 600;
    padding: 20px;
}