.service{
    width: 100%;
}

.add-service-btn{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.add-service-btn a{
    padding: 10px;
    background: #0D4E98;
    color: #fff;
    border: 1px solid #0D4E98;
    border-radius: 5px;
    font-weight: 600;
}