/* #settings-box #tab-content{
    max-height: 100vh;
    background: #1976D2;
} */

#tabs #tab-list a{
    text-decoration: none;
    /* overflow-x:visible; */
}

#tabs #tab-list a:hover{
    border-bottom: 2.5px solid #1976D2;
}

#tab-list a.active{
    border-bottom: 2.5px solid #1976D2;
}


#tab-content #tab-panel{
    padding-top: 50px;
}